body {
  background-color: lightcyan;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 2rem;
}

.card {
  background: whitesmoke;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

.card img {
  width: 100%;
}

.card h2 {
  color: black;
}

button {
  font-family: inherit;
  background-color: pink;
  color: black;
  font-weight: bold;
}
