.tabs {
  display: grid;
}

[role="tablist"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

[role="tabpanel"] {
  background: rgb(250, 210, 32);
  padding: 2rem;
}

button {
  background: lightgrey;
  border: 0;
  color: black;
  border-radius: 5px 5px 0 0;
  --bs-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px 5px var(--bs-color);
  cursor: pointer;
  padding: 0.2rem;
}

button[aria-selected="true"] {
  background: rgb(250, 210, 32);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}

button:focus {
  outline: 0;
}
